* {
  &:focus {
    outline: none;
  }
}

html,
body,
.app {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

body {
  color: $text-color;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movement-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 375px;
  .material-icons {
    font-size: 5em;
  }
  .mid-wrapper {
    text-align: center;
  }
}

.action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 375px;
  margin-top: 2em;
  margin-bottom: 1em;
  .btn {
    color: $text-color;
    border: $text-color solid 1px;
    border-radius: 5px;
    transition: ease-in-out 0.3s all;
    padding: 5px;
    margin: 0 0.5em;
    font-size: 1em;
    height: 40px;

    &:hover {
      border: $green solid 1px;
      color: $green;
    }
  }
}
